@import '../../global/globalStyles.module.scss';
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 32px;
}

.itemCell {
    background-color: #DEDEDE;
    border-radius: 5px;
    margin: 20px 0;
    //min-width: 1000px;
    width: 95%;
    min-height: 200px;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 1px solid gray;
    display: flex;
}

.itemContent {
    margin-left: 10;
    overflow: hidden;
    flex-grow: 1;
}

.itemData {
    font-size: 18px;
    white-space: nowrap;
    padding: 0px 0px 10px 16px;
    text-overflow: ellipsis;
}

.button {
    width: 20px;
    margin: 10px 0px 10px 16px;
    @extend .globalButton;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    width: 95%;
}

// @media only screen and (max-width: 1080px) {
//     .itemCell {
//         min-width: 600px;
//     }
// }

.pageTitle {
    font-size: 28px;
}