@import '../../global/globalStyles.module.scss';
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 64px;
    padding-top: 32px;
    padding-right: 64px;
}

.list{
    width: 100%;
}

.itemCell {
    background-color: #DEDEDE;
    border-radius: 5px;
    margin: 20px 0;
    width: 95%;
    min-height: 150px;
    padding: 10;
    box-sizing: border-box;
    border-bottom: 1px solid gray;
    display: flex;
}

.itemContent {
    margin-left: 10;
    overflow: hidden;
    flex-grow: 1;
}

.itemName {
    font-size: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
}

.itemData {
    font-size: 14px;
    white-space: nowrap;
    padding: 0px 0px 10px 16px;
    text-overflow: ellipsis;
}

.sideBar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
}

.button {
    width: 20px;
    margin: 10px 16px 10px 16px;
    @extend .globalButton;
}

.buttons {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
}

.status {
    width: unset;
    padding: 16px 0px 0px 16px;
}

.pageTitle{
    font-size: 28px;
}