.pageContainer {
    padding-top: 32px;
    padding-left: 64px;
}

.pageTitle {
    font-size: 28px;
}

.Form {
    display: flex;
    justify-content: space-between;
}

.leftForm {
    margin: 20px;
    width: 45%;
}

.rightForm {
    margin: 20px;
    width: 45%;
}

.box {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.button {
    margin: 10px 20px 10px 16px;
    background-color: #5C2A2A;

    &:hover {
        background-color: #A76F6F;
    }

    &:disabled,
    &[disabled] {
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
    }

}

.buttons {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    width: 100%;
}

.LoadPages {
    display: flex;
    flex-direction: column;
}

.LoadPages .button {
    width: 0;
    margin: 0;
}

.list {
    border: 1px solid gray;
    max-height: 500px;
    overflow-x: hidden;
    max-width: 1000px;
}